{% extends "head.html" %} 
{% load static %}

{% block title %}Licitações{% endblock %}

{% block body %}
  <div class="parallax-lesson">
    
    <div class="scroll-indicator fa fa-chevron-down"></div>
  </div>

  <div class='container'>
    <div class="row">
      <div class="col time-line">
        <br /><br />
        <h2 data-anime="left">Licitações e Contratos</h2><br/>
        
        <img data-anime="right" src="{% static 'img/body/lesson.jpg' %}" class="img-fluid card-img">
       
        <br /><br />
        <h4 class="item-time-line">Instituições Públicas</h4><br/>
        <p class="time-line-text">
          No campo institucional a PROFUZZY reuniu um acervo de experiências 
          bem sucedidas junto ao serviço público municipal, contemplando 
          competência técnica e gestão do conhecimento, dispondo de um 
          conjunto de soluções e serviços altamente especializados voltados 
          para a Licitação do Serviço de Transporte Público Coletivo de 
          Passageiros abrangendo as necessidades de: <br/><br/>
          <a class="item-time-line"></a><br/><br/>
          <a class="item-time-line"></a><br/><br/>
          <a class="item-time-line"></a><br/><br/>
          <a class="item-time-line"></a><br/><br/>
          <a class="item-time-line"></a><br/><br/>
          <a class="item-time-line"></a><br/><br/>
        </p>
        
        
      </div><br/><br/>
      <div class="col">
        <br /><br /><br /><br />
        <p class="time-line-text">
          A <i>PROFUZZY</i> possui um amplo acervo de experiências bem sucedidas, 
          de capacitação técnica em processos licitatórios relacionados com o 
          Transporte Coletivo de Passageiros, voltado para instituições públicas 
          e empresas privadas. O nosso acervo técnico é colocado a disposição do 
          mercado, abrangendo as necessidades a seguir enumeradas:
        </p>

        <h4 class="item-time-line">Empresas Privadas</h4><br/>
        <p class="time-line-text">
          No campo privado a PROFUZZY reuniu um acervo de experiências bem 
          sucedidas  na organização, preparação e assessoramento técnico de 
          empresas privadas, quer seja para fins de gestão, ou para participar 
          de  licitação de serviço de transporte público coletivo de passageiros 
          abrangendo as necessidades de: <br/><br/>
          <a class="item-time-line">Custos e Tarifas;</a><br/><br/>
          <a class="item-time-line">Participação em Processo Licitatório;</a><br/><br/>
          <a class="item-time-line">Análise Critica de Edital;</a><br/><br/>
          <a class="item-time-line">Análise Critica de Contrato;</a><br/><br/>
          <a class="item-time-line">Prorrogação de Contrato;</a><br/><br/>
          <a class="item-time-line">Habilitação e Qualificação de Empresa;</a><br/><br/>
          <a class="item-time-line">Plano Organizacional;</a><br/><br/>
          <a class="item-time-line">Proposta Técnica;</a><br/><br/>
          <a class="item-time-line">Proposta de Preços/Financeira;</a><br/><br/>
          <a class="item-time-line">Organização Empresarial;</a><br/><br/>
          <a class="item-time-line">Padronização de Processos;</a><br/><br/>
          <a class="item-time-line">Plano de Negócio;</a><br/><br/>
          <a class="item-time-line">Fluxo de Caixa;</a><br/><br/>
          <a class="item-time-line">Avaliação de Negócio;</a><br/><br/>
          <a class="item-time-line">Plano de Outorga;</a><br/><br/>
          <a class="item-time-line">Tecnologia da Informação.</a><br/><br/>
        </p>
      </div>
    </div>
  </div>
  <br /><br /><br />
  {% include "footer.html" %} 
  <script rel="stylesheet" src="{% static 'js/details.js' %}" ></script>
{% endblock %}
