{% extends "head.html" %} 
{% load static %}
{% block title %}Pesquisa{% endblock %}
{% block body %}
  <div class="parallax-search">
  
    <div class="scroll-indicator fa fa-chevron-down"></div>
  </div>
  <div class='container'>

    <div class="row">
      <div class="col time-line">
        <br/><br/>
        <h2 data-anime="left">Pesquisa</h2><br/>
        
        <h6>Projeto e Execução de Pesquisas de Transporte Coletivo e Tráfego:</h6><br/>
        <p class="time-line-text">
          <a class="item-time-line">Pesquisa de Avaliação do Grau de desempenho do Transporte Coletivo Urbano.</a><br/><br/>
          <a class="item-time-line">Pesquisa de Qualidade e Desempenho;</a><br/><br/>
          <a class="item-time-line">Contagem Classificada de Veículos;</a><br/><br/>
          <a class="item-time-line">Contagem de Pedestres;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Atraso em Interseção;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Brechas;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Capacidade;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Caracterização do Usuário;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Comportamento;</a><br/><br/>
          <a class="item-time-line">Pesquisa e Dados Operacionais;</a><br/><br/>
          <a class="item-time-line">Pesquisa da Demanda Reprimida;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Densidade de Veículos;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Destruição de Fila;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Embarque e Desembarque;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Embarque e Desembarque com Senha;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Entrada e Saída de Veículos em Área de Estudo;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Estacionamento;</a><br/><br/>
        </p>
      </div>
      <div class="col">
      <br/><br/><br/><br/><br/><br/><br/>
        <p class="time-line-text">
         
          <a class="item-time-line">Pesquisa de Formação de Fila;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Freqüência de Ônibus;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Movimentação de Passageiros por Ponto de Parada;</a><br/><br/>
          <a class="item-time-line">Pesquisa do Número de Paradas;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Observância à Sinalização;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Ocupação de Autos;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Opinião;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Origem e Destino de Veículos;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Origem e Destino de Viagens;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Tempo de Espera do Usuário;</a><br/><br/>
          <a class="item-time-line">Pesquisa do Tempo de Operação em Pontos de Parada;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Tempo de Viagem do Usuário;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Velocidade e Retardamento;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Velocidade de Pedestres;</a><br/><br/>
          <a class="item-time-line">Pesquisa de Velocidade Pontual;</a><br/><br/>
          <a class="item-time-line">Pesquisa Domiciliar de Origem e Destino;</a><br/><br/>
          <a class="item-time-line">Pesquisa Visual de Ocupação de Ônibus.</a><br/><br/>
        </p>
      </div>
    </div>

  </div>
  <br /><br /><br />
  {% include "footer.html" %} 
  <script rel="stylesheet" src="{% static 'js/details.js' %}" ></script>
{% endblock %}
