{% extends "head.html" %} 
{% load static %}

{% block title %}Capacitação{% endblock %}
{% block body %}

  <div class="parallax-training">
    <div class="scroll-indicator fa fa-chevron-down"></div>
  </div>

  <br/>
  <div class='container'>
    <div class="row">
      <div class="col time-line">
        <h2 data-anime="left">Capacitação e Treinamento</h2><br/><br/>


        <p class="time-line-text">
          A <i>PROFUZZY</i> dispõe ainda de um acervo de cursos e palestras abordando os mais
          diversos assuntos:
          <a class="item-time-line">Administração de frotas de veículos;</a><br/><br/>
          <a class="item-time-line">Gestão de transporte coletivo urbano;</a><br/><br/>
          <a class="item-time-line">Custos operacionais;</a><br/><br/>
          <a class="item-time-line">Planejamento de frota;</a><br/><br/>
          <a class="item-time-line">Manutenção de frota;</a><br/><br/>
          <a class="item-time-line">Remuneração e  tarifa;</a><br/><br/>
          <a class="item-time-line">Licitação de serviços de transporte público;</a><br/><br/>
          <a class="item-time-line">Orçamento empresarial;</a><br/><br/>
          <a class="item-time-line">Adequação de frota à linha.</a><br/><br/>
        </p>

      </div><br/><br/>
      <div class="col">
        <img data-anime="right" src="{% static 'img/body/treining.jpg' %}" class="img-fluid card-img">
        <br /><br />
        
      </div>
    </div>
  </div>
  <br /><br /><br />
  {% include "footer.html" %} 
  <script rel="stylesheet" src="{% static 'js/details.js' %}" ></script>
{% endblock %}
