{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profuzzy | Opps :(</title>
    <link rel="stylesheet" href="{% static 'css/error.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
</head>
<body>
    <body>
        
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>Oops! Página não encontrada</h3>
                    <h1><span>4</span><span>0</span><span>4</span></h1>
                </div>
                <h2>Lamentamos, mas a página que você solicitou não existe! :(</h2>
                <a class="btn btn-outline-dark" href="/">Voltar</a>
            </div>
        </div>
        
    </body>
</body>
</html>