{% load static %}

<footer id="contacts" class="page-footer font-small unique-color-dark">
  <div class="footer-background">
    <div class="container">
      <div class="row py-4 d-flex align-items-center" >

        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Conecte-se conosco nas redes sociais!</h6>
        </div>
                
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic" target="_blank" href="https://pt-br.facebook.com/profuzzyoficial/">
            <i class="fab fa-facebook-f white-text mr-4"></i>
          </a>
          <a class="gplus-ic" target="_blank" href="https://www.google.com/maps/place/Profuzzy+Consultoria+e+Sistemas/@-27.8152273,-50.3062998,17z/data=!3m1!4b1!4m5!3m4!1s0x94e01eded6e231e7:0xb0e22bff9ce313d3!8m2!3d-27.8152273!4d-50.3041111">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
        </div>       
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Profuzzy</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <i>PROFUZZY</i> 
        </p>
      </div>
      
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Links Úteis</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/blog">Blog</a>
        </p>
        <p>
          <a href="http://optimize.profuzzy.com.br/" target="_blank">Optimize</a>
        </p>
        <p>
          <a href="https://optmize-manual.herokuapp.com/" target="_blank">Manuais</a>
        </p>
        
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contatos</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> Lages, SC 88.509-510</p>
        <p> profuzzy@profuzzy.com.br</p>
        <p> +55 (49) 3251 - 3500</p>
        <p> +55 (49) 3251 - 3509</p>
      </div>
            
    </div>
  </div>
    
  <div class="footer-copyright text-center py-3">© 2019:
    Profuzzy
  </div>
</footer>