
 
  <!--  Menu Lateral -->
  <nav class="fixed-top " role="navigation">
    <div id = "menuToggle">
      <input type = "checkbox" />
      <span class="bar"></span>
      <span class="bar" id="bar2"></span>
      <span class="bar"></span>
      <ul id = "menu">
        <li><a class="itemMenu scroll" href="#home">Home</li>
        <li> <a class="itemMenu scroll" href="#who">Quem Somos</a> </li>
        <li> <a class="itemMenu scroll" href="#we-do">Como Fazemos</a> </li>
        <li> <a class="itemMenu scroll" href="#products">Produtos e Serviços</a> </li>
        <li><a class="itemMenu scroll" href="#contacts">Contatos</a></li>
        <li><a class="btn-blog-menu" href="/blog">Blog</a></li>                
      </ul>
    </div>
  </nav>
